body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #0680cd;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.navigation {
  width: 100%;
  background: #001a57;
}

nav {
  max-width: 1024px;
  margin: 0 auto;
}

nav a {
  color: white;
  padding: 1rem;
  display: inline-block;
}

nav a:first-child {
  padding-left: 0;
}

.content {
  max-width: 1024px;
  margin: 1rem auto;
}

h1 {
  color: #a1b70d;
}
