.person {
  display: flex;
  flex-flow: column;
  max-width: 800px;
  margin: 0 auto;
}

.person-header .person-image {
  display: block;
  width: 250px;
  height: auto;
  float: right;
  margin-left: .75em;
  margin-bottom: .75em;
  border: 1px solid #ccc;
}

.person-header .person-name {
  font-size: 1.4em;
  font-weight: bold;
}

.person-header .person-title {
  color: #666;
}

.person-header .person-overview {
  margin-top: 0.75em;
}
