<!DOCTYPE html>
<html lang="en">
  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   </head>

   <body> 
    <div id="content"></div>

    <script type="text/javascript">
    VivoSearch(document.getElementById('content'))
    </script>

    </body>
</html>
